@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1></h1>
              
            </hgroup>
            <p >
                <font color="White">
                    <a href="http://localhost:52993/Room/Create">
                        Room Management
                    </a>
                    <a href="http://localhost:52993/Checkin/checkin"> Click to checkin</a>
                </font>
            </p>
        </div>

       </section>

    }
<h3><a href="http://localhost:52993/Checkin/Viewchekin"> Checked in List</a>
</h3>

