@model HotelManagement.Models.Checkin
           @using HotelManagement.Models
{
@{
    ViewBag.Title = "checkout";
}

<h2>checkout</h2>
<h4>
    
</h4>
<a href="http://localhost:51709/CheckIn/Viewchekin">View check in</a>
}