@{
    ViewBag.Title = "Viewdetails";
   
}

<h2>Result</h2>
<p>
 
    <table>
        <tr>
            <td>Room ID</td><td>Room type</td> <td></td><td></td>
        </tr>
        @foreach (var item in TempData["Roomdetails"] as IList<HotelM1.Models.RoomModel>)
        {
            
            
            <tr>
                
                <td>@Html.DisplayFor(modelItem => item.R_id)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomType)
                </td>
               
                <td>
                    <a href="http://localhost:52993/Room/Edit?id=@item.R_id">Edit</a>
                </td>
                <td>
                    <a href="http://localhost:52993/Room/delete?id=@item.R_id"> Delete</a></td>
            </tr>
        }
    </table>
</p>
<div>
    @Html.ActionLink("Back to form", "Create")
    <a href="http://localhost:52993/Checkin/checkin"> Click to checkin</a>
</div>
