
@model IEnumerable<HotelManagement.Models.RoomDetail>
@using HotelManagement.Models
@{
    ViewBag.Title = "Viewdetails";
}

<h2>Viewdetails</h2>
<p>
    @TempData["Roomdetails"];
    <table>
        <tr>
           
            <td>Room ID</td>
            <td>Room type</td>
            <td>Total Price</td>

        </tr>
        @foreach (RoomDetail Rd in @Model)
        {


            <tr>

                <td>@Html.DisplayFor(modelItem => Rd.R_Id)</td>
                <td>
                    @Html.DisplayFor(modelItem => Rd.RoomType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Rd.Price)
                </td>

                <td>
                    <a href="http://localhost:51709/Room/Edit?Id=@Rd.R_Id"> Edit</a>
                   
                </td>
                <td>
                    <a href="http://localhost:51709/Room/Delete?Id=@Rd.R_Id"> Delete</a>
                </td>
            </tr>
        }
    </table>
</p>